@model TourModel

@{
    ViewData["Title"] = "Tour details";
    int imgCount = 0;
    if(Model != null)
    {
        imgCount = Model.Hotel.Images.Count();
    }
}

<div class="detail-name">
    <div>
        <h1>@Model.Title</h1>
        <span class="detail-place">@Model.Country, @Model.City</span>
    </div>
</div>
<div class="details-tour">
    <div>
        <div class="slideshow-container">
            @for(int i = 0; i < imgCount; i++)
            {
                <div class="mySlides">
                    <div class="numbertext">@(i+1) / @imgCount</div>
                    <img src="@Url.Content(Model.Hotel.Images[i].Path)">
                </div>
            }
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br>
        <div style="text-align:center">
             @for(int i = 0; i < imgCount; i++)
             {
                 <span class="dot" onclick="currentSlide(@(i+1))"></span> 
             }
        </div>
        <script src="~/js/Slider.js"></script>
    </div>
    <div class="details-tour__info info-box">
         <div class="info-box__heading">Tour info</div>
         <div class="info-box__flex">
              <div class="info-box__item">
                  Tour dates: <strong>@Model.TransportIn.ArrivalTime.ToString("dd.MM.yyyy") - @Model.TransportOut.DepartureTime.ToString("dd.MM.yyyy")</strong>
              </div>
              <div class="info-box__item">
                  Duration: <strong>@Model.Duration days</strong>
              </div>
              <div class="info-box-transport">
              @if(@Model.TransportIn != null || @Model.TransportInId != 0)
              {
                  <div>Transport <strong>included</strong></div>
                  <div><strong>In</strong></div>
                  <div>
                      Type: <strong>@Model.TransportIn.Type</strong>
                  </div>
                  <div>
                        Departure from: <strong>@Model.TransportIn.DeparturePoint</strong>
                  </div>
                        @if(@Model.TransportOut != null || @Model.TransportOutId != 0)
                        {
                            <div><strong>Out</strong></div>
                            <div>
                               Type: <strong>@Model.TransportOut.Type</strong>
                            </div>
                            <div>
                               Departure from: <strong>@Model.TransportOut.DeparturePoint</strong>
                            </div>
                        }
                }
                else
                {
                    <div>
                        Transport <strong>not included</strong>
                    </div>
                }
              </div>
              <div class="info-box-price-section">
                  <p>Tour price (@Model.AviablePeopleCount Adults):</p>
                  <div class="info-box__price">
                      @Model.Price$
                  </div>
                  <small>*the price may vary depending on the chosen room</small>
              </div>
              <a asp-controller="Booking" asp-action="BookingOnline" asp-route-id="@Model.Id" class="linkbtn">Book online</a>
          </div>
    </div>
</div>
<hr />
<div class="tour-description">
    <h2>Description</h2>
    <div>
        <p>@Model.Description</p>
    </div>
    <br />
    <h3>About Hotel</h3>
    <p><strong>Meal:</strong> @Model.Meal</p>
    <p><strong>Address:</strong> @Model.Hotel.Address</p>
</div>
