@model TourVM

@{
    ViewData["Title"] = "Edit tour";
    bool Buttonclicked = false;
}
<style>
.hotel-rooms{
    position:relative;
    display: flex;
    flex-direction:row;
}
.hotel-rooms input{
    width: 100%;
    margin: 0 6px 0 6px;
}
#newRoom {
    display:none;
}
#newImage{
    display:none;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images a{
        color: black;
        background-color: white;
        text-align: center;
        cursor: pointer;
        border: solid 2px black;
        margin: 12px 0 12px 0;
        border-radius: 4px;
}
.images a img{
    width: 150px;
    height: 79px;
}
</style>

<h1>Edit tour</h1>
<hr />
<div>
    <form asp-action="EditTour" method="post" class="row" enctype="multipart/form-data">
        <div class="col-md-4">
        <h2>Tour</h2>
            <input asp-for="Tour.Id" value="@Model.Tour.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Tour.Title" class="control-label"></label>
                <input asp-for="Tour.Title" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourPrice" class="control-label"></label>
                <input asp-for="TourPrice" class="form-control" step="0,01" step="0.01" autocomplete="off" placeholder="@Model.Tour.Price"/>
                <span asp-validation-for="TourPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Type" class="control-label"></label>
                <input asp-for="Tour.Type" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Country" class="control-label"></label>
                <input asp-for="Tour.Country" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.City" class="control-label"></label>
                <input asp-for="Tour.City" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Duration" class="control-label"></label>
                <input asp-for="Tour.Duration" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.Duration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input checked="checked" class="form-check-input" asp-for="Tour.IsHotOffer" /> @Html.DisplayNameFor(model => model.Tour.IsHotOffer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Description" class="control-label"></label>
                <input asp-for="Tour.Description" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.ClientName" class="control-label"></label>
                <input asp-for="Tour.ClientName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.ClientSurname" class="control-label"></label>
                <input asp-for="Tour.ClientSurname" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Tour.ClientSurname" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Transport in</h2>
            <input asp-for="TransportIn.Id" value="@Model.TransportIn.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="TransportIn.Type" class="control-label"></label>
                <input asp-for="TransportIn.Type" class="form-control" />
                <span asp-validation-for="TransportIn.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportIn.DeparturePoint" class="control-label"></label>
                <input asp-for="TransportIn.DeparturePoint" class="form-control" />
                <span asp-validation-for="TransportIn.DeparturePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportIn.DepartureTime" class="control-label"></label>
                <input asp-for="TransportIn.DepartureTime" class="form-control" type="date"/>
                <span asp-validation-for="TransportIn.DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportIn.ArrivalPoint" class="control-label"></label>
                <input asp-for="TransportIn.ArrivalPoint" class="form-control" />
                <span asp-validation-for="TransportIn.ArrivalPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportIn.ArrivalTime" class="control-label"></label>
                <input asp-for="TransportIn.ArrivalTime" class="form-control"  type="date"/>
                <span asp-validation-for="TransportIn.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForTicketIn" class="control-label">Transport place price</label>
                <input asp-for="PriceForTicketIn" class="form-control" step="0,01" step="0.01" placeholder="@Model.PriceForTicketOut"/>
                <span asp-validation-for="PriceForTicketIn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Transport out</h2>
            <input asp-for="TransportOut.Id" value="@Model.TransportOut.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="TransportOut.Type" class="control-label"></label>
                <input asp-for="TransportOut.Type" class="form-control" />
                <span asp-validation-for="TransportOut.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportOut.DeparturePoint" class="control-label"></label>
                <input asp-for="TransportOut.DeparturePoint" class="form-control" />
                <span asp-validation-for="TransportOut.DeparturePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportOut.DepartureTime" class="control-label"></label>
                <input asp-for="TransportOut.DepartureTime" class="form-control"  type="date"/>
                <span asp-validation-for="TransportOut.DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportOut.ArrivalPoint" class="control-label"></label>
                <input asp-for="TransportOut.ArrivalPoint" class="form-control" />
                <span asp-validation-for="TransportOut.ArrivalPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportOut.ArrivalTime" class="control-label"></label>
                <input asp-for="TransportOut.ArrivalTime" class="form-control"  type="date"/>
                <span asp-validation-for="TransportOut.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForTicketOut" class="control-label">Transport place price</label>
                <input asp-for="PriceForTicketOut" class="form-control" step="0,01" step="0.01" placeholder="@Model.PriceForTicketOut"/>
                <span asp-validation-for="PriceForTicketOut" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
        <h2>Hotel</h2>
            <input asp-for="Hotel.Id" value="@Model.Hotel.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Hotel.Name" class="control-label"></label>
                <input asp-for="Hotel.Name" class="form-control" />
                <span asp-validation-for="Hotel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.Stars" class="control-label"></label>
                <input asp-for="Hotel.Stars" class="form-control" />
                <span asp-validation-for="Hotel.Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.Address" class="control-label"></label>
                <input asp-for="Hotel.Address" class="form-control" />
                <span asp-validation-for="Hotel.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
    </div>
    <div class="col-md-4">
            <div>
            <h2>Hotel Rooms</h2>
            @for(int i = 0; i < Model.Rooms.Count(); i++)
            {
                <label asp-for="Rooms" class="control-label">Room @Model.Rooms[i].Number</label>
                <div class="form-group hotel-rooms">
                    <input asp-for="Rooms[i].Id" value="@Model.Rooms[i].Id" hidden />
                    <input asp-for="Rooms[i].Number" class="form-control" type="number" placeholder="Room number"/>
                    <input asp-for="Rooms[i].Price" class="form-control" type="number" placeholder="Price"/>
                    <input asp-for="Rooms[i].SleepingPlaces" class="form-control" type="number" placeholder="Sleeping places"/>
                </div>
            }
                <div id="newRoom">
                    <label asp-for="NewRoom" class="control-label"></label>
                    <div class="form-group hotel-rooms">
                        <input asp-for="NewRoom.Number" class="form-control" type="number" placeholder="Room number"/>
                        <input asp-for="NewRoom.Price" class="form-control" type="number" placeholder="Room price"/>
                        <input asp-for="NewRoom.SleepingPlaces" class="form-control" type="number" placeholder="Sleeping places"/>
                    </div>
                </div>
                <button class="btn-primary btn" style="width: 100%; margin-top: 12px;" onclick="toggleNewHotel()" id="toggleButton">Create new</button>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Files</h2>
            <div class="images">
            @foreach(var image in Model.Hotel.Images)
            {
                <a href="@image.Path"><img src="@image.Path"/></a>
            }
            </div>
            <div  id="newImage">
                <input asp-for="UploadedFile" name="UploadedFile" type="file" class="form-control" />
                <input type="submit" value="Upload" class="btn btn-primary" style="width: 100%; margin-top: 12px;"/>
            </div>
            <button class="btn-primary btn" style="width: 100%; margin-top: 12px;" onclick="toggleNewImage()" id="toggleButton2">Create new</button>
        </div>
            <script>
        function toggleNewHotel() {
            var newRoom = document.getElementById('newRoom');
            var displaySetting = newRoom.style.display;
            var clockButton = document.getElementById('toggleButton');
            if (displaySetting == 'block') {
                newRoom.style.display = 'none';
                }
            else {
                newRoom.style.display = 'block';
                clockButton.style.display = 'none';
                }
            }
            function toggleNewImage() {
            var newRoom = document.getElementById('newImage');
            var displaySetting = newRoom.style.display;
            var clockButton = document.getElementById('toggleButton2');
            if (displaySetting == 'block') {
                newRoom.style.display = 'none';
                }
            else {
                newRoom.style.display = 'block';
                clockButton.style.display = 'none';
                }
            }
        </script>
    </form>
</div>


<div>
    <a asp-action="ManageTours">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
