@model BookingOnlineVM
@{
	ViewData["Title"] = "Booking online | Booking info and payment";
}
<style>
    
</style>


<div>
	<div class="detail-name">
        <div>
            <h1>@Model.Tour.Title</h1>
            <span class="detail-place">@Model.Tour.Country, @Model.Tour.City</span>
        </div>
    </div>
    <div class="details-tour">
        <div>
            <div class="details-tour-image">
                <img src="@Url.Content(Model.Tour.Hotel.Images[0].Path)">
            </div>
        </div>
        <div class="details-tour__info info-box">
            <div class="info-box__heading">Tour</div>
                <div class="info-box__flex">
                    <div class="info-box__item">
                        Tour dates: <strong>@Model.Tour.TransportIn.ArrivalTime.ToString("dd.MM.yyyy") - @Model.Tour.TransportOut.DepartureTime.ToString("dd.MM.yyyy")</strong>
                    </div>
                    <div class="info-box__item">
                        Duration: <strong>@Model.Tour.Duration days</strong>
                    </div>
                    <div class="info-box-transport">
                    @if(Model.Tour.TransportIn != null || Model.Tour.TransportInId != 0)
                    {
                    <div>Transport <strong>included</strong></div>
                    <div><strong>In</strong></div>
                    <div>
                         Type: <strong>@Model.Tour.TransportIn.Type</strong>
                    </div>
                    <div>
                        Departure from: <strong>@Model.Tour.TransportIn.DeparturePoint</strong>
                    </div>
                    @if(@Model.Tour.TransportOut != null || @Model.Tour.TransportOutId != 0)
                    {
                        <div><strong>Out</strong></div>
                        <div>
                           Type: <strong>@Model.Tour.TransportOut.Type</strong>
                        </div>
                        <div>
                           Departure from: <strong>@Model.Tour.TransportOut.DeparturePoint</strong>
                        </div>
                    }
                }
                else
                {
                    <div>
                        Transport <strong>not included</strong>
                    </div>
                }
                </div>
                <div class="info-box-price-section">
                    <div class="info-box__price">
                        @Model.Tour.Price$
                    </div>
                    <small>*the price may vary depending on the chosen room</small>
                </div>
            </div>
        </div>
    </div>
    <div id="info-box">
        <h2>Trip information</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TransportIn.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TransportIn.DeparturePoint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TransportIn.DepartureTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TransportIn.ArrivalPoint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tour.TransportIn.ArrivalTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Model.Tour.TransportIn.Type
                    </th>
                    <th>
                        @Model.Tour.TransportIn.DeparturePoint
                    </th>
                    <th>
                        @Model.Tour.TransportIn.DepartureTime
                    </th>
                    <th>
                        @Model.Tour.TransportIn.ArrivalPoint
                    </th>
                    <th>
                        @Model.Tour.TransportIn.ArrivalTime
                    </th>
                </tr>
                <tr>
                    <th>
                        @Model.Tour.TransportOut.Type
                    </th>
                    <th>
                        @Model.Tour.TransportOut.DeparturePoint
                    </th>
                    <th>
                        @Model.Tour.TransportOut.DepartureTime
                    </th>
                    <th>
                        @Model.Tour.TransportOut.ArrivalPoint
                    </th>
                    <th>
                        @Model.Tour.TransportOut.ArrivalTime
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.HotelRoomNames.Any())
    {
        <form class="filling-form" asp-controller="Booking" asp-action="BookingOnline" method="post" ><div class="select-room">
                    @if(Model.HotelRoomNames.Any())
                    {
                        <select asp-for="RoomName" asp-items="@Model.HotelRoomNames">
                            <option value=''>Select available rooms</option>
                        </select>
                        <span asp-validation-for="RoomName" class="text-danger"></span>
                    }
                    else
                    {
                        <div><strong>There is no available rooms. 
                            please contact with the manager for the availability of rooms
                            in the hotel.</strong> +38(063)973-74-49</div>
                    }
                    </div>
            <input asp-for="Tour.Id" value="@Model.Tour.Id" hidden/>
            <input asp-for="Tour.TransportIn.ArrivalTime" value="@Model.Tour.TransportIn.ArrivalTime" hidden/>
            <input asp-for="Tour.TransportOut.DepartureTime" value="@Model.Tour.TransportOut.DepartureTime" hidden/>
            <div id="info-box">
                <h2>Users data</h2>
                <div class="user-data">
                    <input asp-for="CustomerWhoBook.Id" value="@Model.CustomerWhoBook.Id" hidden />
                    <div class="user-form-group">
                        <label asp-for="CustomerWhoBook.Firstname" class="control-label"></label>
                        <input  asp-for="CustomerWhoBook.Firstname" class="form-control" disabled />
                    </div>
                    <div class="user-form-group">
                        <label asp-for="CustomerWhoBook.Lastname" class="control-label"></label>
                        <input  asp-for="CustomerWhoBook.Lastname" class="form-control" disabled />
                    </div>
                    <div class="user-form-group">
                        <label asp-for="CustomerWhoBook.Sex" class="control-label"></label>
                        <input  asp-for="CustomerWhoBook.Sex" class="form-control" />
                        <span asp-validation-for="CustomerWhoBook.Sex" class="text-danger"></span>
                    </div>
                    <div class="user-form-group">
                        <label class="control-label">Series and number</label>
                        <div class="series_number">
                            <input asp-for="CustomerWhoBook.Passport.Series" id="series" class="form-control" />
                            <span asp-validation-for="CustomerWhoBook.Passport.Series" class="text-danger"></span>
                            <input asp-for="CustomerWhoBook.Passport.Number" id="number" class="form-control" />
                            <span asp-validation-for="CustomerWhoBook.Passport.Number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="user-form-group">
                        <label asp-for="CustomerWhoBook.Passport.Nationality" class="control-label"></label>
                        <input  asp-for="CustomerWhoBook.Passport.Nationality" class="form-control" />
                        <span asp-validation-for="CustomerWhoBook.Passport.Nationality" class="text-danger"></span>
                    </div>
                </div>
                @if(Model.AdditionalTourist != null && Model.AdditionalTourist.Any())
                {
                    @foreach(var tourist in Model.AdditionalTourist)
                    {
                        <div class="user-data">
                            <div class="user-form-group">
                                <label asp-for="@tourist.Firstname" class="control-label"></label>
                                <input  asp-for="@tourist.Firstname" class="form-control" />
                                <span asp-validation-for="@tourist.Firstname" class="text-danger"></span>
                            </div>
                            <div class="user-form-group">
                                <label asp-for="@tourist.Lastname" class="control-label"></label>
                                <input  asp-for="@tourist.Lastname" class="form-control" />
                                <span asp-validation-for="@tourist.Lastname" class="text-danger"></span>
                            </div>
                            <div class="user-form-group">
                                <label asp-for="@tourist.Sex" class="control-label"></label>
                                <input  asp-for="@tourist.Sex" class="form-control" />
                                <span asp-validation-for="@tourist.Sex" class="text-danger"></span>
                            </div>
                            <div class="user-form-group">
                                <label class="control-label">Series and number</label>
                                <div class="series_number">
                                    <input asp-for="@tourist.Passport.Series" id="series" class="form-control" />
                                    <span asp-validation-for="@tourist.Passport.Series" class="text-danger"></span>
                                    <input asp-for="@tourist.Passport.Number" id="number" class="form-control" />
                                    <span asp-validation-for="@tourist.Passport.Number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="user-form-group">
                                <label asp-for="@tourist.Passport.Nationality" class="control-label"></label>
                                <input  asp-for="@tourist.Passport.Nationality" class="form-control" />
                                <span asp-validation-for="@tourist.Passport.Nationality" class="text-danger"></span>
                            </div>
                        </div>
                    }
                }
                <div class="optional-buttons">
                    <button type="button" id="togglePaymentButton" class="btn btn-primary" onclick="togglePayment()">Deposite some part</button>
                    <button type="button" id="toggleSendFormButton" class="btn green-btn " onclick="toggleSend()">Send a request</button>
                    <script>
                    function togglePayment() {
                        var payment_box = document.getElementById('paymentBox');
                        var displaySetting = payment_box.style.display;
                        var sentButton = document.getElementById('toggleSendFormButton');
                        var paymentButton = document.getElementById('togglePaymentButton');
                        if (displaySetting != 'block') {
                            payment_box.style.display = 'block';
                            sentButton.style.display = 'none';
                            paymentButton.style.display = 'none';
                        }
                    }
                    function toggleSend() {
                        var send_form = document.getElementById('sendForm');
                        var displaySetting = send_form.style.display;
                        var sendButton = document.getElementById('toggleSendFormButton');
                        var paymentButton = document.getElementById('togglePaymentButton');
                        if (displaySetting != 'block') {
                            send_form.style.display = 'block';
                            sendButton.style.display = 'none';
                            paymentButton.style.display = 'none';
                        }
                    }
                    </script>
                </div>
            </div>
            <div id="paymentBox" class="payment">
                <div class="payment-title">
                    <h1>Payment Information</h1>
                </div>
                <div class="img-container">
                    <img src="~/css/card.png" class="credit-card" />
                </div>
                <div class="form-container">
                    <div class="field-container">
                        <label for="name">Name</label>
                        <input id="name" maxlength="20" type="text">
                    </div>
                    <div class="field-container">
                        <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="xxxx-xxxx-xxxx-xxxx">
                    </div>
                    <div class="field-container">
                        <label for="expirationdate">Card expiration:</label>
                        <div class="field-container-expire">
                            <select for="expirationdate" name='expireMM' id='expireMM'>
                            <option value=''>Month</option>
                            <option value='01'>01</option>
                            <option value='02'>02</option>
                            <option value='03'>03</option>
                            <option value='04'>04</option>
                            <option value='05'>05</option>
                            <option value='06'>06</option>
                            <option value='07'>07</option>
                            <option value='08'>08</option>
                            <option value='09'>09</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                        </select> 
                        <select for="expirationdate" name='expireYY' id='expireYY'>
                            <option value=''>Year</option>
                            <option value='22'>2022</option>
                            <option value='23'>2023</option>
                            <option value='24'>2024</option>
                            <option value='25'>2025</option>
                            <option value='26'>2026</option>
                            <option value='27'>2027</option>
                            <option value='28'>2028</option>
                            <option value='29'>2029</option>
                            <option value='30'>2030</option>
                            <option value='31'>2031</option>
                            <option value='32'>2032</option>
                        </select>
                        </div> 
                    </div>
                    <div class="field-container">
                        <label for="securitycode">Security Code</label>
                        <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
            </div>
            <div id="sendForm" class="send-form">
                <h5>Tour application form</h5>
                <p>Leave your phone number, the manager will contact you soon and book a tour.</p>
                <label asp-for="CustomerWhoBook.PhoneNumber" class="control-label"></label>
                <input asp-for="CustomerWhoBook.PhoneNumber" type="tel" id="phone" name="phone" required />
                <span asp-validation-for="CustomerWhoBook.PhoneNumber" class="text-danger"></span>
                <button type="submit" class="send-btn">Send</button>
            </div>
        </form>
    }
</div>